body {
	width:100%;
	margin:0;
	padding:0;
	background-color: #4D1D4D;
}
.container {
	display: flex;
	display: -webkit-flex;
}
header {
	width: 100%;
	background-color: #4D1D4D;
	font-family: 'Amatic SC', cursive;
	color: #EBC288;

}
header.container{
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
header h1 {
	flex: 1 0 auto;
	order: 0;
	font-size: 400%;
	text-align: center;
	padding: 0;
	margin: 0;
}
nav  {
	flex: 2 1 auto;
	order: 1;
	font-size: 200%;
	text-align: center;
}
nav a {
	color: #EBC288;
}
nav a:link {
    text-decoration: none;
}

nav a:visited {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav a:active {
    text-decoration: underline;
}
div.container{
	background-color: #4D1D4D;
	align-items: center;
	justify-content: center;
}
aside {
	background-color: #4D1D4D;
	color: #EBC288;
	font-family: 'Amatic SC', cursive;
	font-size: 150%;
	text-align: center;		
	align-self: flex-start;
        margin-top: 2%;	
	width: 50%;
}
article {
	order: 1;
	font-family: 'Bitter', serif;
	background-color: #489C79;
	color: #1A081F;
	background-clip: padding-box;
	padding: 2em;
	align-self: stretch;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
article h3{
	font-size: 200%;
	margin: 0;
	padding: 0;
}
article h4{
	font-size: 150%;
	margin: 0;
	padding: .5em;
}
article a{
	color: #1A081F;
	text-decoration: underline;
}
footer {
	background-color: #4D1D4D;
	color: #EBC288;
	font-family: 'Amatic SC', cursive;
	font-size: 150%;
	padding: 3%;
	text-align: center;	
}
.extra-padding {
	padding-left:3%;
}

.formtext { 
    background: transparent url(http://html-generator.weebly.com/files/theme/input-text-8.png) repeat-x; 
    border: 1px solid #999; 
    outline:0; 
    height:25px; 
    width: 400px; 
} 

.formtbody { 
    background: transparent; 
    border: 1px solid #999; 
    outline:0; 
    height:200px; 
    width:400px; 
  }  
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@media screen and ( max-width:599px)
	{
	.container{
		-webkit-flex-direction: column;
		flex-direction: column;
	}
	aside {
		order: 1;
		text-align: center;
		justify-content: center;
		width: 100%;
		min-width: 230px;
	}
	article {
		order: 0;
		padding: 3%;
	}
	.resume {
		height: 300px;
		width: 100%;
	}
}

@media screen and (min-width: 600px){
	.container{
		flex-flow: row;
	}
	aside {
		min-width: 220px;
		padding: 0;
	}
	.resume {
		height: 500px;
		width: 100%;
	}
} 

