{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block title %}
	<title>t.graviett - 404! Oh No!</title>
{% endblock %}

{% block body %}
	{% include 'nav.html' %}
	{% include 'aside.html'%}
	<article>
		<h1 class="404">[404]</h1>
		<p>
			Hey, I'm really sorry to say this... Buuuuuut... What you're looking for, I can't find! :(
		</p>
		<p>
			Why not try going back or just go straight to the <a href="{{ url_for('index', _external=True) }}">home page</a>?
		</p>
	</article>
	{% include 'footer.html' %}
{% endblock %}
