{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block title %}
	<title>t.graviett - Samples</title>
{% endblock %}

{% block body %}
	{% include 'nav.html' %}
	{% include 'aside.html'%}
	<article>
	<h3>About Me:</h3>
		<h4>Programming</h4>
		<p class="extra-padding">
			Programming has long been a passion of mine. From my early childhood days as a "script kiddie" to my selection of a field to work in, I've known that programming would be a large part of my future. Constantly learning, developing new skill sets, and knowing how to apply my acquired knowledge and set of skill is something that gives me a deep sense of fulfilment.
		</p>
		<p class="extra-padding">
			Most of my endeavours have been self taught through various MOOCs (Massive Online Open Courses), like those offered by <a href="http://udacity.com">Udacity</a> and <a href="http://codeacademy.com">CodeAcademy</a> for example, through freely available e-books like <a href="http://learnpythonthehardway.org/">Learn Python the Hardway</a> (but I've also bought this book for friends who were interested in programming), and through books like <a href="http://shop.oreilly.com/product/0636920031116.do">Flask Web Development</a> by Miguel Grinberg.  
		</p>
		<p class="extra-padding">
			I love programming for the challenges it offers me. Though I may not get to spend as much time as I would like programming due to scheduling constraints or because I simply don't feel like doing it for fun, it's always something I've come back to when I feel the need to create something. Besides, isn't passion supposed to be what can drive you to the brink of madness and yet some how manage to keep you there until the wee hours of the morning staring at the problem until you fix it?
		</p>
		<h4>Competition</h4>
		<p class="extra-padding">
			I love competition. I love having something to push towards that offers me a challenge. When my brother and I were younger, we would often compete amongst ourselves to see who would win at whatever we decided to make a game out of. 
			<br><br>Bicycle races around the neighborhood? Of course. 
			<br>Who could clean their room the fastest? You bet.
			<br>Who could shove more marshmallows in their mouth? Yeah, I almost died... but I <strong>won</strong>!
		</p>
		<p class="extra-padding">
			My love for competition went well beyond my childhood though. In highschool and in my first years at University, I actively competed in UIL and collegiate club wrestling(making it as far as nationals my first year in college). I played Magic the Gathering when I wasn't wrestling.  
		</p>
		<p class="extra-padding">
			As an adult, I've played video games at high levels of competition, winning several thousand dollars worth of hardware and cash prizes in various first person shooters. While I've toned down my need for competition with others, I still strive to push myself to always improve. It's never been about the destination for me, but the journey that makes it all worth while!
		</p>
	</article>
	{% include 'footer.html' %}
{% endblock %}
