<div class="container">
	<aside class="color-fix">
		<img src="{{ url_for('static', filename='IMG/me.jpg', _external=True) }}">
		<h3>Solutions Developer</h3>
		Some names I've been called:<br><br>
		Consistent<br>
		Responsive<br>
		Resolute<br>
		Articulate<br>
		Patient<br>
		</ul>
	</aside>