<!doctype html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{ url_for('static', filename = 'CSS/style.css', _external=True) }}">
		{% block head %}
		<title>{% block title %}{% endblock %}</title>
		{% endblock %}		
	</head>
	<body>
		{% block body %}
		{% endblock %}
	</body>
</html>
