{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block title %}
	<title>t.graviett - Contact</title>
{% endblock %}

{% block body %}
	{% include 'nav.html' %}
	{% include 'aside.html'%}
	<article>
		<h3>Contact</h3>
		<p>
			This form will send me an email. You don't have to just contact me throught his form though! If you try to contact me through this I will get back with you as quickly as possible!
			<br><br>
			You can also try me at <a href="http://LinkedIn.com/in/tgraviett">LinkedIn</a>!
		</p>
		<form method="POST" action="{{ url_for('contact') }}">	
			{{ form.hidden_tag() }}
			{{ form.name.label}}<br> {{form.name(id='formtext', size=75) }}<br><br>
			{{ form.email.label }}<br> {{ form.email(id='formtext', size = 75) }}<br><br>
			{{ form.body.label }}<br>
			{{ form.body(id='formbody') }}<br><br>
			{{ form.submit(id='submit') }}
		</form>

	</article>
	{% include 'footer.html' %}
{% endblock %}
