{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block title %}
	<title>t.graviett - Goals</title>
{% endblock %}

{% block body %}
	{% include 'nav.html' %}
	{% include 'aside.html'%}
	<article>
	<h3>Goals:</h3>
		<h4>Skills Development -</h4>
		<p class="extra-padding">
			I've started recently working on developing my skills in Python. Not only do I plan to recreate my Mobile Web Development project in Python, but for my final semester classes I will be taking an Object Oriented Programming class that focuses on Python. I would also like to start hosting my own websites at my home. 
		</p>
		<h4>Work -</h4>
		<p class="extra-padding">
			I enjoy my current position. I would like to continue to grow through that position, learning more about the systems that we host, and potentially look into becoming more involved with the development side of the company for custom modifications.<br><br>
			I would also like to start consulting and creating custom applications for small to medium businesses. I feel like this would not only utilize my skills in technology, but put my education to use considering now is the time that this information that I've acquired will be most relevant! 
		</p>
		<h4>Personal -</h4>
		<p class="extra-padding">
			I've been working towards obtaining better personal fitness and continuing to hone my mind. I also want to start building a larger business oriented social network for myself. I would love to start creating work for companies that I find to do valuable work that helps their communities. If you have any leads, <a href="{{ url_for('contact', _external=True) }}">drop me a line</a>!
		</p>	
	</article>
	{% include 'footer.html' %}
{% endblock %}