{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block title %}
	<title>t.graviett - Home</title>
{% endblock %}

{% block body %}
	{% include 'nav.html' %}
	{% include 'aside.html'%}
		<article>
			<h3>Introduction:</h3><br>
			<div class="videoWrapper">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/qAMaJeUnewQ" frameborder="0" allowfullscreen></iframe>
			</div>
			<p>
				My name is Thomas Graviett. I've been working in various parts of the IT field for 10 years. 3rd party support, asset management, systems engineering, and application support are some of the hats I've worn. Technology has fascinated me for the majority of my life and continues to drive my career.
			</p>
			<h3>Ethos:</h3><br>
			<p>
				I think that my tendency toward being a perpetual student has been the greatest boon of my career in technology. My curiosity has broadened my horizons beyond what I could have ever imagined, and I love immersing myself in creating solutions that solve problems. 
			</p>
			<p>
				I want to work with people who share values with me. I don't believe in the maxim of "more is better". I strive to be the change that I want to see in the world. To me that means that I want to help create better communities, connect with the people around me, and build relationships that help more than just myself.
			</p>
		</article>	
	{% include 'footer.html' %}
{% endblock %}