{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block title %}
	<title>t.graviett - Message Sent Successfully!</title>
{% endblock %}

{% block body %}
	{% include 'nav.html' %}
	{% include 'aside.html'%}
	<article>
		<h3>Contact Made!</h3>
		<p>
			Message successfully sent! I will try to get back with you as soon as possible!
		</p>
	</article>
	{% include 'footer.html' %}
{% endblock %}
