{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block title %}
	<title>t.graviett - Message Failed :(!</title>
{% endblock %}

{% block body %}
	{% include 'nav.html' %}
	{% include 'aside.html'%}
	<article>
		<h3>The attempt at contact failed!</h3>
		<p>
			For some reason the form didn't work, please <a href="{{ url_for('contact', _external=True)}}">try again.
		</p>
	</article>
	{% include 'footer.html' %}
{% endblock %}