<header class="container">
	<h1>Thomas Graviett</h1>
	<nav>
		<a href="{{ url_for('index', _external=True) }}">Home</a>&nbsp;
		<a href="{{ url_for('resume', _external=True) }}">Resume</a>&nbsp;
		<a href="{{ url_for('samples', _external=True) }}">Samples</a>&nbsp;
		<a href="{{ url_for('aboutme', _external=True) }}">About Me</a>&nbsp;
		<a href="{{ url_for('goals', _external=True) }}">Goals</a>&nbsp;
		<a href="{{ url_for('contact', _external=True) }}">Contact</a>
	</nav>
</header>