{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block title %}
	<title>t.graviett - Resume</title>
{% endblock %}

{% block body %}
	{% include 'nav.html' %}
	{% include 'aside.html'%}
	<article>
	<h3>My Resume:</h3>
		<p>
			I've performed a myriad of tasks in my time in the industry. These are most recent positions with relevance to the sort of work that I'm doing right now. It is downloadable as a PDF 
			<a href="{{ url_for('static', filename='PDF/tgraviettresume.pdf', _external=True) }}">here &nbsp;<img src="{{ url_for('static', filename='IMG/pdf_16x16.gif', _external=True) }}"></a>.
		</p>
		<p>
			<iframe class="resume" src="https://docs.google.com/document/d/1ZIvKXO7_agAiwiv7fieY-fMxq65aL6tzMcdeLfB1aB4/pub?embedded=true"></iframe>
		</p>
	</article>
	{% include 'footer.html' %}
{% endblock %}
