{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block title %}
	<title>t.graviett - Samples</title>
{% endblock %}

{% block body %}
	{% include 'nav.html' %}
	{% include 'aside.html'%}
	<article>
		<h3>Work Samples:</h3>
		
		<h4>Mobile Web Development:</h4>
		<p class="extra-padding">
			The University of Texas at Dallas offers some great classes for web development. I'd like to share a public repository of my final project for the MIS 4312 Mobile Web Development Class. The project got me an A, but I don't host the application as it's rather inefficient and is still lacking features that are key to the success of the application. I intend to rewrite this application in Python in the near future.
			<br><br>
			Aside from just developing the project, this was also a great leadership exercise for me, as I was presented with an opportunity to take an idea that I had and create it with a team of classmates. As with any collegiate project it was an exercise that could only be compared to herding cats. I learned many valuable lessons about teamwork, project management, communication of complex issues, and the finer nuances of creating a web application in PHP and designed on an XAMP stack.
			<br><br>
			The GIT repository is hosted on <a href="http://bitbucket.org">Bitbucket</a>, and you can view a direct link to it <a href="https://bitbucket.org/tgraviett/4312-project/src">here</a>. 
		</p>
		
		<h4>Personal Online Portfolio:</h4>
		<p class="extra-padding">
			This site itself is one of a project for my Advanced Business Communications class. The web application is built with the <a href="http://flask.pocoo.org/">Flask Framework</a>. I designed the application from scratch, utilizing modern web development techniques for response design, with HTML5, CSS3, Javascript, and Python. This this was a great exercise for me to immerse myself back into development with Python and flex some of the knowledge that I have gained through self-study and my classes.
			<br><br>
			The GIT repository is hosted on <a href="http://bitbucket.org">Bitbucket</a>, and you can view a direct link to it <a href="https://bitbucket.org/tgraviett/pop/src">here</a>.
		</p>
		
		<h4>MetroRelief - Case Study:</h4>
		<p class="extra-padding">
			I was fortunate to take Professor Edgington's class and worked with a fantastic group on this case study. The project was to select an organization, request an opportunity to have our entire group embed into the organization over a period of time, and then to use the knowledge we learned from the class to give an assessment of the organization. A fantastic opportunity for us to really apply the knowledge we were being offered. 
			<br><br>
			Our group was one of the few in our section that took the opportunity to work with a local non-profit. We elected to work with MetroRelief a nearby food bank, and through this project I learned about a great small organization that does great work and helps their local community. Their organization was small in size, but the impact that they had wide reaching with their regular excursions into areas where they knew their services would be of great use.
			<br><br>
			To view a pdf of the document, please click <a href="{{ url_for('static', filename='PDF/OBHR-MetroRelief-CaseStudy.pdf', _external=True) }}">here&nbsp; <img src="{{ url_for('static', filename='IMG/pdf_16x16.gif', _external=True) }}"></a>.
		
		</p>
	</article>
	{% include 'footer.html' %}
{% endblock %}
